In [5]:
import gdown
import pandas as pd
import numpy as np

# 4회차 과제
목표: 데이터 전처리 실습해보기. 
(수업 자료의 `과제 연계 실습` 참고)

- 다음은 미국의 주별 암에 의한 사망에 관한 통계이다.  
https://drive.google.com/file/d/1SkCbZdnzng1a43m_vRRrVbmeFOPcyIU0/view?usp=sharing

- gdown 패키지를 사용하여 위 통계를 `cancer.csv`라는 이름으로 다운로드 받고, pandas 패키지를 사용하여 cancer라는 변수에 저장하시오.
- 다음 요구조건에 따라 전처리를 진행하시오.
  - 미국의 주 이름을 인덱스로 사용하시오.
  - 'Rate' 열의 결측치를 데이터의 평균값으로 채우시오.
  - 이상치를 IQR 방식으로 처리하시오.  
  (참고: 수업에서 사용한 메서드를 수정해야 함.)
  - 가변수를 활용하여 범주형 데이터를 처리하시오.

In [64]:
gdown.download("https://drive.google.com/uc?id=1SkCbZdnzng1a43m_vRRrVbmeFOPcyIU0", "cancer.csv", quiet=False)
cancer = pd.read_csv('cancer.csv')

Downloading...
From: https://drive.google.com/uc?id=1SkCbZdnzng1a43m_vRRrVbmeFOPcyIU0
To: /Users/sunghokang/cancer.csv
100%|███████████████████████████████████████| 1.26k/1.26k [00:00<00:00, 233kB/s]

In [65]:
cancer.head()
cancer = cancer.set_index("State", drop=True)
display(cancer)

                Range      Rate
State
AK     369.9 to 416.5     406.6
AL     420.4 to 445.7     437.9
AR     447.0 to 461.0       NaN
AZ     369.9 to 416.5  323232.3
CA     369.9 to 416.5     399.6
CO     369.9 to 416.5     395.8
CT     462.1 to 513.7     467.0
DC     420.4 to 445.7     442.4
DE     462.1 to 513.7     488.1
FL     369.9 to 416.5     410.0
GA     447.0 to 461.0     453.4
HI     369.9 to 416.5     406.0
IA     462.1 to 513.7     471.9
ID     420.4 to 445.7     420.4
IL     447.0 to 461.0     460.4
IN     420.4 to 445.7     435.8
KS     447.0 to 461.0     449.1
KY     462.1 to 513.7     513.7
LA     462.1 to 513.7     478.7
MA     447.0 to 461.0     453.8
MD     420.4 to 445.7     439.5
ME     462.1 to 513.7     474.6
MI     420.4 to 445.7     437.3
MN     447.0 to 461.0       NaN
MO     447.0 to 461.0     447.0
MS     462.1 to 513.7     462.1
MT     420.4 to 445.7     431.2
NC     447.0 to 461.0     448.8
ND     420.4 to 445.7     431.4
NE     420.4 to 445.7     443.6
NH     462.1 to 513.7     464.2
NJ     462.1 to 513.7     472.8
NM     369.9 to 416.5     369.9
NV     369.9 to 416.5     374.9
NY     462.1 to 513.7     476.5
OH     447.0 to 461.0     452.1
OK     420.4 to 445.7       NaN
OR     369.9 to 416.5     409.6
PA     462.1 to 513.7     477.3
RI     462.1 to 513.7     469.8
SC     420.4 to 445.7     433.3
SD     447.0 to 461.0     450.1
TN     420.4 to 445.7     445.7
TX     369.9 to 416.5     402.2
UT     369.9 to 416.5     396.0
VA     369.9 to 416.5       NaN
VT     447.0 to 461.0   44292.2
WA     420.4 to 445.7     442.1
WI     447.0 to 461.0     459.0
WV     447.0 to 461.0     461.0
WY     369.9 to 416.5     399.6

In [76]:
cancer.isnull()
cancer["Rate"] = cancer["Rate"].fillna(cancer["Rate"].mean())
display(cancer)

                Range           Rate
State
AK     369.9 to 416.5     406.600000
AL     420.4 to 445.7     437.900000
AR     447.0 to 461.0    8242.270213
AZ     369.9 to 416.5  323232.300000
CA     369.9 to 416.5     399.600000
CO     369.9 to 416.5     395.800000
CT     462.1 to 513.7     467.000000
DC     420.4 to 445.7     442.400000
DE     462.1 to 513.7     488.100000
FL     369.9 to 416.5     410.000000
GA     447.0 to 461.0     453.400000
HI     369.9 to 416.5     406.000000
IA     462.1 to 513.7     471.900000
ID     420.4 to 445.7     420.400000
IL     447.0 to 461.0     460.400000
IN     420.4 to 445.7     435.800000
KS     447.0 to 461.0     449.100000
KY     462.1 to 513.7     513.700000
LA     462.1 to 513.7     478.700000
MA     447.0 to 461.0     453.800000
MD     420.4 to 445.7     439.500000
ME     462.1 to 513.7     474.600000
MI     420.4 to 445.7     437.300000
MN     447.0 to 461.0    8242.270213
MO     447.0 to 461.0     447.000000
MS     462.1 to 513.7     462.100000
MT     420.4 to 445.7     431.200000
NC     447.0 to 461.0     448.800000
ND     420.4 to 445.7     431.400000
NE     420.4 to 445.7     443.600000
NH     462.1 to 513.7     464.200000
NJ     462.1 to 513.7     472.800000
NM     369.9 to 416.5     369.900000
NV     369.9 to 416.5     374.900000
NY     462.1 to 513.7     476.500000
OH     447.0 to 461.0     452.100000
OK     420.4 to 445.7    8242.270213
OR     369.9 to 416.5     409.600000
PA     462.1 to 513.7     477.300000
RI     462.1 to 513.7     469.800000
SC     420.4 to 445.7     433.300000
SD     447.0 to 461.0     450.100000
TN     420.4 to 445.7     445.700000
TX     369.9 to 416.5     402.200000
UT     369.9 to 416.5     396.000000
VA     369.9 to 416.5    8242.270213
VT     447.0 to 461.0   44292.200000
WA     420.4 to 445.7     442.100000
WI     447.0 to 461.0     459.000000
WV     447.0 to 461.0     461.000000
WY     369.9 to 416.5     399.600000

In [86]:
def iqr_outlier(data):
    for i in range(len(data.iloc[1])):
        if np.issubdtype(data.iloc[:, i] 
        q1, q3 = np.percentile(data.iloc[:, i], [25, 75])
        print(f"q1: {q1}")
        print(f"q3: {q3}")

        iqr = q3 - q1
        lower = q1 - (iqr * 1.5)
        upper = q3 + (iqr * 1.5)
        print(f"lower: {lower}")
        print(f"upper: {upper}")

        data = data[data.iloc[:, i] < upper]
        data = data[data.iloc[:, i] > lower]
        
    data = data.reset_index(drop=True)
    return data

new_cancer = iqr_outlier(cancer)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [84]:
dummy = pd.get_dummies(cancer, drop_first = True, prefix=['Range'])
display(dummy)

,Rate,Range_420.4 to 445.7,Range_447.0 to 461.0,Range_462.1 to 513.7
State,,,,
AK,406.600000,False,False,False
AL,437.900000,True,False,False
AR,8242.270213,False,True,False
AZ,323232.300000,False,False,False
CA,399.600000,False,False,False
CO,395.800000,False,False,False
CT,467.000000,False,False,True
DC,442.400000,True,False,False
DE,488.100000,False,False,True
FL,410.000000,False,False,False
GA,453.400000,False,True,False
HI,406.000000,False,False,False
IA,471.900000,False,False,True
ID,420.400000,True,False,False
IL,460.400000,False,True,False
IN,435.800000,True,False,False
KS,449.100000,False,True,False
KY,513.700000,False,False,True
LA,478.700000,False,False,True
MA,453.800000,False,True,False
MD,439.500000,True,False,False
ME,474.600000,False,False,True
MI,437.300000,True,False,False
MN,8242.270213,False,True,False
MO,447.000000,False,True,False
MS,462.100000,False,False,True
MT,431.200000,True,False,False
NC,448.800000,False,True,False
ND,431.400000,True,False,False
NE,443.600000,True,False,False
NH,464.200000,False,False,True
NJ,472.800000,False,False,True
NM,369.900000,False,False,False
NV,374.900000,False,False,False
NY,476.500000,False,False,True
OH,452.100000,False,True,False
OK,8242.270213,True,False,False
OR,409.600000,False,False,False
PA,477.300000,False,False,True
RI,469.800000,False,False,True
SC,433.300000,True,False,False
SD,450.100000,False,True,False
TN,445.700000,True,False,False
TX,402.200000,False,False,False
UT,396.000000,False,False,False
VA,8242.270213,False,False,False
VT,44292.200000,False,True,False
WA,442.100000,True,False,False
WI,459.000000,False,True,False
WV,461.000000,False,True,False
WY,399.600000,False,False,False